body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #0b0d22;
    color: #ffffff;
  
}
.bg-2 {
    background-color: #270e00;
    color: #ffffff;
}
.bg-3 {
    background-color: #95937b;  
}
.bg-4 {
    background-color: #dac692;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
/* .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
} */
